:root {
  --primary-color: #d1d1d1;
  --secondary-color: #000000;
  --tertiary-color: #fff;
  --quaternary-color: #000;
  --quinary-color: #f00;
  --senary-color: #0f0;
  --septenary-color: #00f;
  --octonary-color: #f0f;
  --nonary-color: #0ff;
  --denary-color: #ff0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav .menu {
  display: flex;
  gap: 20px;
}

nav .logo img {
  width: 100px;
  height: auto;
}

nav .menu li {
  list-style: none;
}

nav .menu li a {
  color: var(--tertiary-color);
  text-decoration: none;
}

nav .menu li a:hover {
  color: var(--quaternary-color);
}

nav .menu-mobile {
  display: none;
}

nav .menu-mobile span {
  width: 20px;
  height: 2px;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  nav .menu {
    display: none;
  }

  nav .menu-mobile {
    display: block;
  }
}
