:root {
  --primary-color: #d1d1d1;
  --secondary-color: #000000;
  --tertiary-color: #ff5b0a;
  --quaternary-color: #000;
  --quinary-color: #f00;
  --senary-color: #0f0;
  --septenary-color: #00f;
  --octonary-color: #f0f;
  --nonary-color: #0ff;
  --denary-color: #ff0;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
  max-width: 750px;
  border-radius: 24px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

nav .menu {
  display: flex;
  gap: 20px;
  margin-right: 16px;
}

nav .logo img {
  width: 60px;
  height: auto;
  margin-right: 16px;
  margin-left: 16px;
}

nav .menu li {
  font-size: 20px;
  font-family: "Pangolin", cursive;
  list-style: none;
  display: inline-block;
  margin-right: 24px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav .menu li a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.5s ease;
}

nav .menu li a:hover {
  color: var(--tertiary-color);
  transition: color 0.5s ease;
  text-decoration: none;
  font-weight: bold;
}

nav .menu-mobile {
  display: none;
}

nav .menu-mobile span {
  width: 20px;
  height: 2px;
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  nav .menu {
    display: none;
  }

  nav .menu-mobile {
    display: block;
  }
}

.home {
  background-image: url("../public/img/sua-imagem.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: calc(55vh + 100px);
  margin-top: -100px;
  padding-top: 100px;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* overlay escuro */
}

.home h1 {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-size: 64px;
  font-weight: bold;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
