.home {
  position: relative;
  height: calc(55vh + 100px);
  margin-top: -100px;
  padding-top: 100px;
  overflow: hidden;
  background-image:
    url("../images/backgrounds/hero-bg.jpg"), url("../videos/fundo-nucleos.gif");
  background-size: cover;
  background-position: center;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.home h1 {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-size: 64px;
  font-weight: bold;
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.nucleos-radicais {
  background-color: var(--secondary-color);
  background-image: url("../images/backgrounds/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary-color);
  padding: 20px;
}

.nucleos-radicais h2 {
  font-family: "Permanent Marker", cursive;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.nucleos-radicais h3 {
  font-family: "Calibri", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.nucleos-radicais p {
  font-family: "Climate Crisis", cursive;
  font-size: 48px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.07em;
  line-height: 1.5;
}

.nucleos-radicais a {
  font-size: 32px;
  font-family: "Pangolin", cursive;
  color: var(--tertiary-color);
  text-decoration: none;
  font-weight: bold;
  padding: 24px 60px;
  background-color: transparent;
  border: 3px solid var(--tertiary-color);
  border-radius: 50px;
  box-shadow:
    0 0 15px rgba(255, 91, 10, 0.4),
    inset 0 0 15px rgba(255, 91, 10, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  margin-top: 60px;
  max-width: 350px;
  text-align: center;
}

.nucleos-radicais a:hover {
  background-color: var(--tertiary-color);
  color: #fff;
  box-shadow: 0 0 25px rgba(255, 91, 10, 0.6);
  text-decoration: none;
  font-weight: bold;
}
